<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" parallel="false">
  <test name="Caiptal Info Smoke Test">
    <classes>
      <class name="TestModels.TestCapital"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->